
/* Estilização das textos, fontes e imagem de fundo*/
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/fundo-do-texto.png"); /*Imagem de fundo da pagina*/
  background-repeat: no-repeat;

}
.principal {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-size: 20px;
  padding: 50px;
}
h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';/*fontes dos textos de h1*/
  font-size: 3rem; /*tamanho das fontes dos textos de h1*/
  text-align: center;/*centralizando as fontes dos textos de h1*/
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;/*fontes dos textos de h3*/
  font-size: 3rem;/*tamanho das fontes dos textos de h3*/
  text-align: center;/*centralizando as fontes dos textos de h3*/
}

p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 130%;/*tamanho das fontes dos textos de paragrafos */
  text-align: center; /*centralizando as fontes dos paragrafos*/
  margin: 30px;/*margem fontes dos textos dos paragrafos */
}

.test{
  display: flex;
  justify-content: space-between;
   background-color: #81c9fa;/*cor do menu*/
   align-items: center;
}

.test img {
  margin: 20px;
}

.nav>a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 32px;

}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  display: inline;
  padding: 20px;
}

.nav ul li a {
  padding: 20px;
  color: rgb(255, 255, 255);
  display: inline-block;
  text-decoration: none;
  transition: all .4s;
}

.nav ul li a:hover {
  color: #000000;
}

.nav ul li:last-child a {
  float: right;
  background-color: #1465bb;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}



.nav ul li {
  padding: 15px;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(38, 100, 163);
  background-repeat: no-repeat;
  text-align: center;
  padding: 90px;
  max-width: 100%;
}

#config{
  width: 20px;
  height: auto;
}

/* Estilização da galeria de imagens */

.fundo{
  background-image: url("../img/fundo-de-tudo.png");/*Imagem de fundo da pagina*/
  background-repeat: repeat;
}
.galeria{
  display: grid;/*Imagens da galeria de foto grid*/
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 20px;  
  border: 1px solid;
  border-color: transparent;/*borda das imagens, em transparente*/
}


.fotos img {
  object-fit: cover;
  border: 10px solid #8ef0f486;
  box-shadow: 5px 5px 5px #0006;
  flex-grow: 1;
  transition: transform 1.2s linear;/*as imagens se movendo em 1.2s*/
  width: 450px; /*largura das imagens em 450px*/
  height: 400px;/*altura das imagens em 450px*/
  overflow-clip-margin: content-box;
  overflow: clip;
}

.fotos:hover img {
transform: scale(1.1);
}

.galeria:hover {
  transition: 1.7s;
}

/* Estilização da galeria de videos */
article#video {
  margin-left: 25px;
  gap: 20px;
  padding: 20px;
  margin: 20px; 
  text-align: center;


}
.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.videos div {
  margin: 3%;
}


/* Estilização do icones */
.cabecalho {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  padding: 10px 20px 5px;
}

/*Estilização dos icones (contato)*/

.icones {
  display: flex;/*icones do footer em flex*/
  justify-content: center;/*centralizar dos icones do footer*/
  align-items: center;/*centralizar dos icones do footer*/
}
#contato {
  text-align: center;/*centralizar dos icones do footer*/ 
}

.contato {
  display: flex;
  justify-content: center;/*centralizar dos icones do footer*/
  align-items:  center;/*centralizar dos icones do footer*/
  margin: 9px;/*margem dos icones do footer em 9px*/
}

/*Estilização do botão para auto contraste*/
.high-contrast {
  text-align: center;
  background-color: #7694a0;
  max-width: 400px;
  color: white;
}

.high-contrast button{
 align-items: center;
  text-align: start;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

button{
  text-align: center;/*botão do auto contraste no centro*/
  border: none;
  color: black;/*botão do auto contraste em preto o texto*/
  left: 20px;
  background: transparent;/*botão do auto contraste em transparente*/
}


/* Estilização das opções no icones*/
.opcoes img {
  width: 20px;/*largura dos icones em 20px*/
  height: auto;
  margin-left: 5px;/*altura dos icones em 5px*/
}

.gallery-container p {
  font-family: 'Courier New', Courier;/*texto do footer com paragrafo*/
  color: black;/*texto do footer com preto*/
  text-align: center;
  height: auto;
  width: auto;
}
/* Estilização do footer*/

footer{
  display: flex;
  justify-content: space-around;
  background: rgb(111, 181, 238);/*cor do footer*/
  color: #000000;
  padding: 50px;/*tamanho do footer*/
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho img {
  margin: 10px;
  justify-content: center;
  align-items: center;
}

/* Estilização da logo do footer*/
.cabecalho {
  align-items: center;/*centralizar a logo do footer*/
  margin: 10px;
  justify-content: center;/*centralizar a logo do footer*/
}

.logo img{
display: flex;
padding: 5px;
align-items: center;
justify-content: center;

}