/* Definições iniciais do estilo global */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/Novo_Projeto.png");
    background-repeat: no-repeat;
}

.test{
    display: flex;
    justify-content: space-between;
     background-color: #81c9fa;
     align-items: center;
}

.test img{
    margin: 20px;
}
    
    h1 {
    font-family: 'Manrope','serif';
    font-size: 3rem;
    color: rgb(40, 111, 211);
    text-align: center;
    }

   h2 {
    font-family: 'Manrope','serif';
        color: rgb(0, 0, 0);

    }
        
   h3 {
    font-family: 'Courier New', Courier, monospace;
        color: rgb(57, 118, 168);

    }
    
    .cadastro {
        width: 7px;
        height: 7px; 
        align-items: normal;
        display: block;
        float: right;
        width: 15%;
    }

    .logo {
        max-width: 100px; /* Define a largura máxima da imagem do icone. */
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: center;
      }

/* Estilos para o container dos cartões*/
.card-container{
    display: grid;
 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
/* Estilos para os cartões individuais*/

.card{
    margin: 0 auto;
    background-color: aliceblue;
    border: 1px solid #444c64;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(rgb(0, 30, 255), rgb(0, 1, 0), rgb(0, 255, 255), alpha);
}
/* Estilos aplicados quando a largura da tela é de no máximo 768px */

@media(max-width:768px){
    .card-container{
        grid-template-columns: 1fr;
       
    }
}

button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

button a:hover{
    color: white;
}

button[type="submit"]{
    background-color: #65c4e7;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 5 auto;
    display: block;
    

 }

h1 {
    color:rgb(0, 0, 0);
}

#imagem2 {

    align-items: baseline;
    display:block;
    margin: 0px auto;
    width: 5%;
    height: 100px;
}

#imagem3 {

    display:block;
    margin: 0px auto;
    width: 5%;
    max-width:100px;
    height: 50px;
    }

    .lupa img {
        width: 7px;
        height: 7px; 
        align-items: normal;
        display: block;
        float: right;
        width: 15%;
        /* Define a largura máxima da imagem do icone. */
    }

/*nav*/

nav {
    flex-direction: row;
    justify-content: space-around;
}

nav ul {
    flex-direction: row;
    width: 20%;
}

.depoimentos{
    margin: 5rem;
}

/*estilos para auto contraste}*/
.high-contrast {
    background-color: #1a1a1a;
    background-image: url("../img/");
}

.high-contrast .depoimentos {
    color: white;
}
/*fim da página*/

footer{
    display: flex;
    justify-content: space-around;
    background: rgb(111, 181, 238);
    color: #000000;
    padding: 50px;
 }
 
/* Estilização do icones */
.cabecalho {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin: 1px;
    color: #fff;
  }
  
  .cabecalho#log{
    align-items: center;
  }

  /* Estilização das opções no icones*/
  .redes-sociais img {
    width: 20px;
    height: auto;
    padding: 10px;
    margin-left: 15px;

  }

  /*fim do footer*/


  #mais{display: none}