body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/Novo\ Projeto.png");
    background-repeat: no-repeat;
}

h1,h2,h3 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    align-items: center;
}
h2{
    font-size: 50px;
}

.menu{
    display: flex;
    justify-content: space-between;
     background-color: #81c9fa;
     align-items: center;
}

.menu img{
    margin: 20px;
}

.nav>a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 32px;

}


.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    padding: 20px;
}

.nav ul li a {
    padding: 20px;
    color: rgb(0, 0, 0);
    display: inline-block;
    text-decoration: none;
    transition: all .4s;
}


.nav ul li a:hover {
    color: #ffffff;
}

.nav ul li:last-child a {
    float: right;
    background-color: #1465bb;
    color: white;
}


.nav ul li:last-child a:hover {
    color: #000000;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;

}

.nav ul li {
    padding: 15px;
}
.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 90px;
    max-width: 90%;
    text-align-last: center;
    font-size: 1.5em;
}

.sobre p{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.estiçizacao-dos-h2{
    color: rgb(0, 0, 0);
    margin: 5%;
}

#config{
    width: 20px;
    height: auto;
}

/* Estilização do icones */
.cabecalho {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin: 1px;
    color: #fff;
  }
  
  .cabecalho#log{
    align-items: center;
  }

  /* Estilização das opções no icones*/
  .redes-sociais img {
    width: 20px;
    height: auto;
    padding: 10px;
    margin-left: 15px;

  }

.title{
    color: black;
    font-size: 2em;
}

.grid-dos-quadrados{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1%;
    padding: 2%;
    grid-template-areas:
        "comunicado nossotime ong";
        
}

.grid-dos-quadrados div span{
 font-size: 1.5rem;
}

/* cartões de informação sobre a empresa, ong, e pessoas*/
.comunicado {
    display: grid;
    justify-content: center;
    border: 1px solid black;
    background-color: aliceblue;
    gap: 10px;
    margin: 80px;
    padding: 15px;  /*espaçamento por dentro do cartão*/
    border-radius: 5px;
    font-size: 1.0em;
    grid-area: comunicado;
    text-align: justify; /*centraliza o conteúdo horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center; /*centraliza o conteúdo verticalmente*/
 
}



.nossotime{
    display: grid;
    justify-content: center;
    border: 1px solid black;
    background-color: aliceblue;
    gap: 10px;
    margin: 80px;
    padding: 15px;  /*espaçamento por dentro do cartão*/
    border-radius: 5px;
    font-size: 1.0em;
    grid-area: nossotime;
    text-align: justify; /*centraliza o conteúdo horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center; /*centraliza o conteúdo verticalmente*/
}

.ong {
    display: grid;
    justify-content: center;
    border: 1px solid black;
    background-color: aliceblue;
    gap: 10px;
    margin: 80px;
    padding: 15px;  /*espaçamento por dentro do cartão*/
    border-radius: 5px;
    font-size: 1.0em;
    grid-area: ong;
    text-align: justify; /*centraliza o conteúdo horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center; /*centraliza o conteúdo verticalmente*/
}




/*imagem de fundo para os cards dos menbros de equipe*/
.img-de-fundocards{
background-image: url("../img/imagem-de-fundo-cards.png");
}
/*Estilização das imagens dos membros de equipe*/
.membrosdeequipe{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-membros {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    margin: 0 auto;
    font-size: 15px;
    justify-content: center;
}

/* estilos para os cartões individuais*/
.card {
    display: flex;
    flex-direction: column;
    padding: 30px;/*espaçamento por dentro do cartão*/
    align-items: center;
}


.card img {
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 150px; /*arredonda a margem do elemento*/
    margin-bottom: 0px;  /*da a margem do elemento*/
}


/*estilos para auto contraste}*/
.high-contrast {
    background-color: #1a1a1a;
    background-image: url("../img/");
}
.high-contrast .menu{
     background-color: #81c9fa;
}

.high-contrast .sobre, .high-contrast .sobre h2 {
    color: #fff;
}

.high-contrast .membrosdeequipe{
    color: #fff;
}

.high-contrast .card-membros, .high-contrast .card-membros h1{
    color: #fff;
}

.high-contrast button{
    text-align: start;
    cursor: pointer;
    color: black;
    background-color: #81c9fa;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    justify-content: center;
}


footer{
   display: flex;
   justify-content: space-around;
   background: rgb(111, 181, 238);
   color: #000000;
   padding: 50px;
}