* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #90EE90;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.task-item{
    background-color: #90EE90;
}

.container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.new-task-container{
    padding: 40px;
    box-shadow: 0 4px 8px #a01b69;
    background-color: #90EE90;
    border-radius: 20px;
    border: 1px solid #e712b2;
}